*,
*:before,
*:after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: "Lato",sans-serif;
  font-weight:400;
  font-size:16px;
  line-height: 1.7; 
  padding:20px; 
}
.header{
    height:95vh;
    background:linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)),url(../images/hero.jpg);
    background-size:cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.header-logo{
  position: absolute;
  top:40px;
  left:40px;
}
.header-logo img{
  height:35px;
}
.text-box{
  position: absolute;
  left:50%;
  top:40%;
  text-align: center;
  transform: translate(-50% ,-50%);
}
.heading-primary{
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 20px;
  }
  .heading-primary-main{
    display:block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 30px;
    animation: moveInLeft 2s ease-out;
   
  }
.heading-primary-sub{
  display:block;
  font-weight: 700;
  font-size:16px;
  letter-spacing: 17.4px;
  animation: moveInRight 2s ease-out;
 
}
 @keyframes moveInLeft{
 0% {
   opacity: 0;
   transform: translateX(-100px);
  }

  80%{
  transform: translateX(10px);
  }
 100% {
  opacity: 1;
  transform: translate(0);
  }
  
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(200px);
   }
 
   80%{
   transform: translateX(-10px);
   }
  100% {
   opacity: 1;
   transform: translate(0);
   }
   
 }
 .btn{
   text-decoration: none;
   color:#777;
   border:1px solid #fff;
   border-radius: 90px;
   padding:14px 20px;
   display:inline-block;
   background: #fff;
   letter-spacing: 2px;
   font-weight: 400;
   text-transform: uppercase;
   animation: moveInTop 2s ease-out;
 }

 @keyframes moveInTop{
   0%{
     opacity:0;
     transform: translateY(-40px)
   }
   100%{
     opacity:1;
     transform:translate(0)
     
   }
 }
 
