

// colors
$color-primary:#55c57a;
$color-primary-light:#90f57e;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-grey:#eee;
$color-grey-light:#f7f7f7;
$color-grey-dark:#333;
$color-black:#111;
$color-green-white:#D9DEDB;
$color-grey-blue:#b8b8ba;
// grid
$grid-width:114rem;
$gutter-horizantal:6rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;

//font
$default-font-size:1.6rem;
