body{
font-family: "Lato",sans-serif;
font-weight:400;
color:$color-grey-dark;
padding: 2rem;
}

.heading__primary{
    color:$color-white;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
  
      &--main{
      display:block;
      font-weight: 400;
      font-size: 6rem;
      letter-spacing: 3rem;
      animation: moveInLeft 2s ease-out;
    }
      &--sub{
    display:block;
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out;
   
  }
    }