body{
font-family: "Lato",sans-serif;
font-weight:400;
color:$color-grey-dark;

}

.heading__primary{
    color:$color-white;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
  
      &--main{
      display:block;
      font-weight: 400;
      font-size: 6rem;
      letter-spacing: 3rem;
      animation: moveInLeft 2s ease-out;
      @include respond(phone){
        font-size: 5rem;
        letter-spacing: 1rem;
      }
    }
      &--sub{
    display:block;
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out;

    @include respond(phone){
      font-size: 3rem;
      letter-spacing:.5rem;
    }
  }
    }
    .heading__secondary{
      font-size:3.5rem;
      font-weight:700;
      display: inline-block;
      letter-spacing:.2rem;
      background-image:linear-gradient(to right,$color-primary-light,$color-primary-dark);
      text-transform: uppercase;
      -webkit-background-clip: text;
      color:transparent;
      transition: all .2s;

       @include respond(tablet-potrait){
        font-size:3rem;
       }
       @include respond(phone){
       font-size:2.5rem;

       }
      
      &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
      }
    }
    .heading__teritary{
      font-size:1.6rem;
      font-weight:700;
      text-transform: uppercase;
     }
     .paragraph{
       font-size:1.6rem;
       &:not(:last-child){
        margin-bottom: 3rem;
      }

     }
     
    