.section-about{
    background-color: $color-grey-light;
    padding:25rem 0;
    margin-top:-20vh;

}
.section-features{
    // background:linear-gradient(to right bottom, rgba($color-grey-light, 0.8), rgba($color-white, 0.8));
    background:$color-green-white;  
    background-size:cover;
    padding:20rem 0;
     transform:skewY(-7deg);
     margin-top: -10rem;
     
     & >*{
     transform:skewY(7deg);
     }
}

.section-stories{
    padding:25rem 0 4rem 0;
    background:linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
    margin-top:-8rem;
}
.footer{
    padding:10rem 0;
    background:$color-grey-dark;
    
}

