.section-about{
    background-color: $color-grey-light;
    padding:25rem 0;
    margin-top:-20vh;

}
.section-features{
    // background:linear-gradient(to right bottom, rgba($color-grey-light, 0.8), rgba($color-white, 0.8));
    background-image:url(../images/nat-5.jpg);  
    background-size:cover;
    background-attachment: fixed;
    padding:10rem 0;
    
  }

.section-stories{
    padding:25rem 0 4rem 0;
    background:linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
   
}
.footer{
    padding:10rem 0;
    background:$color-grey-dark;
    
}

